#content {
    max-width: 1600px;
    margin: 0 auto;
}
#background {
    height: 725px;
    background-color: antiquewhite;
}
body {
    background-color: #A2A77F; 
}
header {
    background-color: #035E7B(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}
.msg {
    background-color: blanchedalmond;
}
.book,.join {
    background-color: #002E2C;
}
.book:hover,.join:hover {
    background-color: #A2A77F;
}
footer {
    background-color: #002E2C;
}